<div class="container_big-card">
  <div class="big-card_photo">
    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--9Zu-g3nG--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://2muchcoffee.com/blog/content/images/2020/07/Angular-versions-over-time---Angular-Community-in-a-nutshell.png" alt="" height="270px">
  </div>

  <div class="big-card_title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto harum, necessitatibus, doloremque fugit quisquam ducimus facere, dolorem amet provident exercitationem adipisci facilis unde a molestias quia consequatur aperiam odit odio.
      </a>
      </p>
  </div>

</div>
