<div class="container_big-card">
  <div class="big-card_photo">
    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="" height="250px" width="300px">
  </div>
  <div class="big-card_title">
    <h1>Saiu nova versão do Angular</h1>
  </div>
  <div class="big-card_description">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto harum, necessitatibus, doloremque fugit quisquam ducimus facere, dolorem amet provident exercitationem adipisci facilis unde a molestias quia consequatur aperiam odit odio.</p>
  </div>

</div>
